body {background-color: #f6f4ff;}
h1   {color: #322dff;}
p    {color: #ffc141;}
th   {color: #ff2325;text-align: left}
.styleone {padding-left: 300px}
.styletwo {font-family: "Calibri Light"}
#idone {font-weight: bold}


